.login__container{
    display: flex;
    width: 50%;
    height: 70vh;
    background: #2d183616;
    margin: auto;
    box-shadow: 2px 2px 10px 2px #c101c855, -2px -2px 10px 2px #4e006d;
    border-radius: 5px;
}
.image__container{
    flex: 1
}
.image__container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.form__container{
    flex:1;
    margin: auto;
    padding: 2rem;
}
.form__title__container{
    text-align: center;
}
.form__title__container h2{
    font-size: 36px;
    font-weight: 300;
}
.error{
    color: #ff1c1c;
}