.navbar__container{
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 2rem;
    // border: 2px solid gray;
    a{
        color: aliceblue;
        font-size: 18px; 
    }

    .navlinks__container{
        display: flex;
        gap: 2rem;
    }
    .auth__container{
        display: flex;
        align-items: center;
        gap: 2rem;
        .profile__container{
            display: flex;
            flex-direction: column;
            position: relative;
                .icon__container{
                   display: flex;
                   justify-content: start;
                   cursor: pointer;
                    .icon{
                        position: absolute;
                        font-size: 20px;
                        right: 0.5rem;
                        top:-10px
                    }
                }
                .profile__links{
                    background: #5b007c;
                    border-radius: 5px;
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    top: 1rem;
                    right:-18px;
                    a{
                        padding: 10px ;
                        transition: all 0.5s ease;
                        border-bottom: 1px solid gray;
                    }
                    a:last-child{
                        border-bottom: none;
                    }
                    
                }
        }
    }
}




