.button__container{
    display: flex;
    margin-top: 2rem;
}
.button__container .button{
    font-size: 18px;
    background: #530056;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: inset 2px 2px #530056, inset -2px -2px #530056;
    transition: all .5s ease;
}
.button__container .button:hover{
    background: #e000ac;
    box-shadow: inset 2px 2px #da00cb, inset -2px -2px #da00cb;
}